langchain>=0.3.0
langchain-huggingface>=0.0.8
huggingface_hub>=0.23.0
sentence-transformers
faiss-cpu
pandas
sqlalchemy
python-dotenv
sqlparse
nltk
tabulate
langchain>=0.1.0
langchain-community>=0.0.10
langchain-core>=0.1.0
langchain-text-splitters>=0.0.1